@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "inter-light";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/Inter-Light.woff2") format("woff2"),
      url("/fonts/Inter-Light.woff") format("woff");
  }
  @font-face {
    font-family: "inter-regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Inter-Regular.woff2") format("woff2"),
      url("/fonts/Inter-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "inter-medium";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/Inter-Medium.woff2") format("woff2"),
      url("/fonts/Inter-Medium.woff") format("woff");
  }

  @font-face {
    font-family: "inter-semi-bold";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/Inter-SemiBold.woff2") format("woff2"),
      url("/fonts/Inter-SemiBold.woff") format("woff");
  }

  @font-face {
    font-family: "inter-bold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Inter-Bold.woff2") format("woff2"),
      url("/fonts/Inter-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "inter-black";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/Inter-Black.woff2") format("woff2"),
      url("/fonts/Inter-Black.woff") format("woff");
  }
}
